$light-teal: #478f85;
$red: #cc274c;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#user-profile-section {
	height: calc(100vh - 111px);
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(
		45deg,
		hsla(133, 50%, 79%, 1) 0%,
		hsla(234, 36%, 55%, 1) 100%
	);
}

.profile-form-container {
	height: 93%;
	width: 80%;
	max-width: 1080px;
	padding: 1rem;

	.form-title {
		color: $red;
	}

	.user-profile-form {
		display: flex;
		padding: 0.5rem 0;
		gap: 1rem;
		width: 100%;

		.form-left {
			background-color: rgba($color: #ddd, $alpha: 0.75);
			flex: 1 0 25%;
			height: 200px;
			border-radius: 7px;
			display: flex;
			justify-content: center;
			align-items: center;

			.image-dropzone {
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 7px;
				border: 2px dashed #fff;
				width: 100%;
				height: 100%;
				margin: 0 auto;

				.drop-text {
					font-weight: bold;
					width: 100%;
					text-align: center;
					padding: 1rem;
					color: $red;
				}
			}

			.image-container {
				position: relative;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				justify-content: space-evenly;
				padding: 0.75rem;
				border-radius: 7px;
				width: 100%;
				height: 100%;

				.remove-img-btn {
					position: absolute;
					top: 7px;
					right: 7px;
					padding: 0.2rem 0.4rem;
					background-color: $light-teal;
					color: #fff;
					align-self: flex-end;
					border: none;
					border-radius: 10px;
					cursor: pointer;
				}

				.profile-img {
					background-color: transparent;
					height: 120px;
					width: 120px;
					border-radius: 50%;
					overflow: hidden;
					position: relative;

					img {
						height: 100%;
						width: 100%;
						object-fit: cover;
					}
				}
				.text-your-image {
					font-weight: bold;
					margin: 5px;
				}

				.preview {
					color: #333;
					margin-bottom: 10px;
				}
				.fullname-preview {
					font-weight: bold;
				}
				.email-preview {
					opacity: 0.65;
				}
			}
		}

		.form-right {
			position: relative;
			flex: 1 0 70%;
			background: rgba($color: #ddd, $alpha: 0.75);
			padding: 0.5rem;
			border-radius: 7px;
			height: calc(100% - 50px);
			overflow-y: scroll;

			.title-wrapper {
				padding: 0.25rem 0;
				font-weight: bold;
				border-bottom: 1px solid #333;
				color: #cc274c;
				display: flex;
				align-items: center;
				justify-content: space-between;
			}

			.form-group {
				margin: 1rem 0;

				label {
					font-weight: bold;
					opacity: 0.7;
				}

				input:not([type="radio"]),
				select {
					border: none;
					outline: none;
					padding: 0.5rem 0.5rem;
					width: 100%;
					background-color: #eee;
					border-radius: 7px;
					margin-top: 0.3rem;
				}

				.radio-option {
					background-color: #eee;
					margin-top: 9px;
					display: flex;
					gap: 9px;
					align-items: center;
					padding: 0.5rem;
					border-radius: 7px;
				}
			}
		}
	}
}

img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.save-profile-btn,
.edit-profile-btn {
	position: relative;
	margin: 0.4rem;
	right: 0;
	background-color: $red;
	color: #fff;
	padding: 0.3rem 0.6rem;
	border: none;
	outline: none;
	border-radius: 5px;
	cursor: pointer;
}

.edit-profile-btn {
	background-color: gray;
}
.edit-profile-btn:hover {
	background-color: #43a4bd;
}

.profile-input-error {
	color: $red;
	font-size: 0.8rem;
	margin-top: 0.25rem;
}

@media screen and (max-width: 760px) {
	.profile-form-container {
		padding: 0;

		.form-title {
			padding: 0.25rem 0;
		}

		.user-profile-form {
			flex-direction: column;
			justify-content: flex-start;
			width: 100%;
			height: calc(100% - 43px);
			// padding: 0.5rem 0;
			padding-bottom: 0.5rem;
			gap: 0.5rem;

			.form-left {
				flex: 1 0;
				.image-container {
					gap: 0.5rem;
					padding: 0.5rem 0.5rem 0 0.5rem;
				}

				.image-dropzone {
					height: 100%;
					width: 100%;
				}
			}

			.form-right {
				width: 100%;
				flex: 1 0 68%;
				overflow-y: scroll;
			}
		}
	}
}
